In [1]:
import pyspark
import pandas as pd
import numpy as np
from pydataset import data
import pyspark
from pyspark.sql.functions import col, expr
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean
from pyspark.sql.functions import lit
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import when
from pyspark.sql.functions import asc, desc
from vega_datasets import data
from pyspark.sql.functions import month, year, quarter

Create a spark data frame that contains your favorite programming languages.

The name of the column should be language

View the schema of the dataframe

Output the shape of the dataframe

Show the first 5 records in the dataframe

In [2]:
languages = ['python', 'sql', 'pyspark']

In [3]:
languages = pd.DataFrame(languages)

In [4]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/30 16:28:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df = spark.createDataFrame(languages)

In [6]:
df.show()

+-------+
|      0|
+-------+
| python|
|    sql|
|pyspark|
+-------+

In [7]:
df = df.withColumnRenamed("0", "language")

In [8]:
df.show()

+--------+
|language|
+--------+
|  python|
|     sql|
| pyspark|
+--------+

In [9]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [10]:
df.count(), len(df.columns)

(3, 1)

Load the mpg dataset as a spark dataframe.

Create 1 column of output that contains a message like the one below:


The 1999 audi a4 has a 4 cylinder engine.
For each vehicle.

Transform the trans column so that it only contains either manual or auto.

In [11]:
from pydataset import data

In [12]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [13]:
df = spark.createDataFrame(data('mpg'))

In [15]:
df.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows